
#main{
    position: relative;
    min-width: 100%;
}
header{
        position: absolute;
        top: -68px;
        left:0;
        right:0;
        padding-bottom: 5px;
        padding-left:5px;
        box-sizing: border-box;
        z-index: 9999;

        transition: top 0.5s ease;
        @media print{
            background-color: white !important;
            color: #3E3E3E !important;
        }
        &:hover {
            top: 0;
        }

        h1{
            margin-bottom: 2px;
        }
        h2{
            margin: 0;
        }
        .recap{
             overflow: hidden;
            /* word-wrap: normal; */
            white-space: nowrap;
            text-overflow: ellipsis;

            span{
                font-size: 1.1em;
            }
        }

        
        
}
#wrapper{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
}
content{
            /*fait lui prendre toute la place dispo*/
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .main{
                /* la zone graphique */
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }
        }

.relation{
    stroke-linejoin: round;
    stroke-dasharray: 5 5;
    fill:none;
    stroke:#3E3E3E; 
}
.enumerations{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 50px;
    min-height: 50px;
    max-width: 400px;
    border-radius: 5px;
    z-index: 1;
    left: 10px;
    top: 30px;
    padding: 5px;
    background-color: #E9E9E9;
    box-shadow:0px 0px 3px rgba(0,0,0,0.5),3px 3px 3px rgba(0,0,0,0.25);
    
    div{
        padding:5px;
        border-bottom: 1px dashed #3E3E3E;
        &.header{
            font-size: 1.1em;
        }
        h3{
            margin: 0;
            cursor: pointer;
        }
        span{
            text-align: right;
            display:block;
            width: 100%;
        }
        &:last-child{
            border:none;
        }

    }
    
}