<div id="main" [style]="work_size | widthHeight">
<header class="invert">
    <h1>{{title}}</h1>
    <h2>{{slogan}}</h2>
    <div>{{database | dbinfos }}</div>
    
    
</header>
<div id="wrapper" #wrapper>
<content (mousemove)="drag($event)" (mouseup)="stop_drag($event)" (click)="clearMenu()" (contextmenu)="showContextMenu($event)">   
    
    <div class="main">
        <!--div class="enumerations" *ngIf="database?.enumerations">
            <div class="header">Enumerations</div>
            <div *ngFor="let enumeration of database?.enumerations">
                <h3 class="title" title="Click to edit" (click)="showEnumDlg(enumeration)">{{enumeration.key}}</h3><span>({{enumeration.values}})</span>
            </div>
        </div-->


        <table-cmp *ngFor="let table of database?.tables" [table]="table" (onSelectedTable)="setSelectedTable($event)"></table-cmp>

        <menu-cmp *ngIf="descriptor" [descriptor]="descriptor"></menu-cmp>
        
    </div>
    <svg width="100%" height="100%">
        
        <svg:g *ngFor="let relation of database?.relations" >            
            <polyline class="relation" [attr.points]="relation.coords | relation2points"/>
        </svg:g>
        
    </svg>
    <sql-dlg *ngIf="dlgDescriptor" [descriptor]="dlgDescriptor"></sql-dlg>
    
</content>
</div>
</div>