# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/a2/tmp

# dependencies
/a2/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/a2/.sass-cache
/a2/connect.lock
/a2/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/a2/typings

# e2e
/a2/e2e/*.js
/a2/e2e/*.map

#System Files
.DS_Store
Thumbs.db
*.log