body{height:100%}
#dxy{
	border: 1px solid #a95454;
}
#formTable{
	display:none
}
#hover-me{
    text-align: center;
	background-color:#000;
	color:#fff;
    font-family: sans;
	margin: 0 auto;
    width: 20%;
}
#hover-content {
    display:none;
}
a:hover{cursor:pointer}
#hover-me:hover #hover-content {
    display:block;
}
ul{
	display: table;margin-left:auto;
margin-right:auto;
align-items: center;}
li{	margin-left:auto;margin-right:auto;
	display:inline;
	
	}
table {
	border: 1px solid #a95454;
	border-radius: 12px;
	padding: 5px;
	background-color: rgba(243, 232, 232, 0.77);
}
th, td{border: 1px solid #a95454;}
.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
}

ul.context-menu__items {
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding: 12px 29px;
	border-bottom: solid 1px #413636;
	border-radius: 10px;
	list-style: none;text-align: center;
	background-color: #110f0f;
	display: block;
	font-family: sans;
	font-size:auto;
}
.context-menu--active {
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: space-between;
}
.task{height:500px}
ul.context-menu__items:hover {
	cursor: pointer;
	color: white;
	text-decoration: none;
}
