<div class="about">
    <content>
        <div class="present">
            <header>
                <img src="https://avatars1.githubusercontent.com/u/26115418?v=3&s=460">
                <div class="infos">
                    <h2>Lahitte Mathieu</h2>
                    <p>javascript, SQL</p>

                </div>
            </header>
            <p>"Patience, patience dans l'azur. Chaque atome de silence est la chance d'un fruit mûr." H.Reeves</p>
            <a href="mailto:greta.lahitte@outlook.fr">contact me.</a>
        </div>
        <div class="present">
            <header>
                <img src="https://avatars2.githubusercontent.com/u/17245172?v=3&s=460">
                <div class="infos">
                    <h2>Stéphane Ponteins</h2>
                    <p>Typescript, Angular2</p>
                </div>
            </header>
            <p>un petit texte de presentation un petit texte de presentation</p>
            <a href="mailto:???">contact me.</a>
        </div>
    </content>
    <div class="commands" >
        <button type="button" (click)="cancel()" class="invert">OK, thanks guys!</button>      
    </div>
</div>
