<form #baseForm="ngForm" (ngSubmit)="process_dialog_form()">
        <content>
            <label>Base name:</label>
            <input #firstInput  type="text" #bname="ngModel" name="b_name" [(ngModel)]="base.db_name" required pattern="^[a-zA-Z_]+[a-zA-Z0-9_]+$" autofocus>
            <div [hidden]="bname.valid || bname.pristine"
             class="error">
                Name is required, and must match: ^[a-zA-Z_]+[a-zA-Z0-9_]+$
            </div>


            <label>Type:</label>
            <select [(ngModel)]="base.db_type" name="b_method" required>
                <option value="postgres">PostgreSQL</option>
                <option value="mysql">MySQL</option>
                <option value="maria">MariaDB</option>
                <option value="mongo">MongoDB</option>
            </select>
            <label>Port:</label>
            <input type="number"  min="1" max="65535" step="1" name="b_port" [(ngModel)]="base.db_port" required>
            <label>Host:</label>
            <input #host="ngModel" type="text" name="b_host" [(ngModel)]="base.host" required pattern="^([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])(\.([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]{0,61}[a-zA-Z0-9]))*$">
            <div [hidden]="host.valid || host.pristine"
             class="error">
                Host is not valid...
            </div>
            <label>login:</label>
            <input type="text" #log="ngModel" name="b_log" [(ngModel)]="base.login" required>
            <div [hidden]="log.valid || log.pristine"
             class="error">
                You must provide a login
            </div>
            <label>Password:</label>
            <input type="text" name="b_pswd" [(ngModel)]="base.passwrd">
            


            <!-- les contraintes de la table -->
            <div class="group">Custom Types:
                <div *ngFor="let enum of base.enumerations">
                    <div  class="index-infos">
                        <span  class="name">{{enum.key}}</span>(<span >{{enum.values}}</span>)
                        <div>
                            <a class="round" (click)="updateEnum(enum)"><i class="material-icons rippler">mode_edit</i></a>
                            <a class="round" (click)="deleteEnum(enum)"><i class="material-icons rippler">delete_forever</i></a>
                        </div>  
                    </div>
                </div>
            
                
            </div>



            
        </content>
        <p class="error" *ngIf="error">{{error}}</p>
        <div class="commands" >
            <button class="invert" type="button" (click)="newEnum()" type="button">Add new Custom Type</button>
            <button [disabled]="!baseForm.form.valid"  class="invert" type="submit">Create Base</button> 
            <button type="button" (click)="cancel()" class="invert">Cancel</button>      
        </div>
    </form>
