<form #fieldForm="ngForm" (ngSubmit)="process_dialog_form()">
    <content>
        <label>Field name *</label>
        <input type="text" #Fname="ngModel" name="field_name" [(ngModel)]="tmp.name" required pattern="^[a-zA-Z_]+[a-zA-Z0-9_]+$">
        <div [hidden]="Fname.valid || Fname.pristine"
             class="error">
          Name is required, and must match: ^[a-zA-Z_]+[a-zA-Z0-9_]+$
        </div>
        <label>Field comment:</label>
        <textarea name="field_comment" [(ngModel)]="tmp.comment"></textarea>
        <label>Field type:</label>
        <select [disabled]="tmp.is_reference" name="field_type" #Ftype="ngModel" [disabled]="newType.checked" [(ngModel)]="tmp.type" required>
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
        <div [hidden]="Ftype.valid || Ftype.pristine"
             class="error">
          You must select a data type.
        </div>
        <div [ngSwitch]="tmp.type | extratype">
            <div *ngSwitchCase="'LENGTH'">
                <label>Size:</label>
                <input type='number' min="0" [(ngModel)]="tmp.type_extras.length" name="ex_ty_length">
            </div>
            <div *ngSwitchCase="'MINMAX'">
                <label>Min value:</label>
                <input type='number' min="0" [(ngModel)]="tmp.type_extras.min" name="ex_ty_min">
                <label>Max value:</label>
                <input type='number' min="0" [(ngModel)]="tmp.type_extras.max" name="ex_ty_max">
            </div>
            

        </div>

        <label>
            <input [disabled]="tmp.is_reference" type="checkbox" [(ngModel)]="make_custom" #newType name="new_type">Create custom ENUM
        </label>
        <div class="enum-group">
            <label>Type name:</label>
            <input #NTname="ngModel" [disabled]="!newType.checked" type="text" name="enum_name" [(ngModel)]="custom_type.key" required pattern="^[a-zA-Z_]+[a-zA-Z0-9_]*$">
            <div [hidden]="!newType.checked || (NTname.valid || NTname.pristine)"
             class="error">
                Name is required, and must match: ^[a-zA-Z_]+[a-zA-Z0-9_]*$
            </div>
            <label>Type values (comma separated):</label>
            <textarea #tvalues="ngModel" [disabled]="!newType.checked" name="enum_vals" [(ngModel)]="custom_type.values" required pattern="^([a-zA-Z0-9_],)*[a-zA-Z0-9_]+$"></textarea>
            <div [hidden]="tvalues.valid || tvalues.pristine"
             class="error">
                Values are required, and must match: ^([a-zA-Z0-9_],)*[a-zA-Z0-9_]+$
            </div>

            
        </div>
        <label>Default Value:</label>
        <input [disabled]="tmp.is_reference" type="text" name="field_default" [(ngModel)]="tmp.default_value">
        
        

        <div class="check-group">
            <label [ngClass]="table | has_PK:tmp.primary_key">
                <input type="checkbox" [disabled]="tmp.is_reference"  [(ngModel)]="tmp.primary_key" name="field_pk">Primary Key
            </label>
            <label>
                <input type="checkbox" [disabled]="tmp.is_reference" [(ngModel)]="tmp.index" name="field_index">INDEX
            </label>
            <label>
                <input type="checkbox"[disabled]="tmp.is_reference" [(ngModel)]="tmp.not_null" name="field_null">NOT NULL
            </label>
            <label>
                <input type="checkbox"[disabled]="tmp.is_reference" [(ngModel)]="tmp.unique" name="field_index">UNIQUE
            </label>
        </div>
        <label>Check Constraint:</label>
        <input type="text" [disabled]="tmp.is_reference" name="field_check" [(ngModel)]="tmp.check">

    </content>
    <p class="error" *ngIf="error">{{error}}</p>
    <div class="commands" *ngIf="!tmp.id" >
        <button [disabled]="!fieldForm.form.valid"  class="invert" type="submit">Create new field</button> 
        <button [disabled]="!fieldForm.form.valid"  (click)="addfield=true"  class="invert" type="submit">Create & add another</button> 
        <button type="button" (click)="cancel()" class="invert">Cancel</button>      
    </div>
    <div class="commands" *ngIf="tmp.id" >
        <button [disabled]="!fieldForm.form.valid"  class="invert" type="submit">Update field</button> 
        <button type="button" (click)="cancel()" class="invert">Cancel</button> 
    </div>
</form>