<form #baseForm="ngForm" (ngSubmit)="process_dialog_form()">
        <content>
            <label>Base name:</label>
            <input type="text" name="b_name" #bname [ngModel]="base.db_name" (blur)='setProp("db_name",bname)' required>
            <label>Type:</label>
            <select [(ngModel)]="base.db_type" name="b_method" required>
                <option value="postgres">PostgreSQL</option>
                <option value="mysql">MySQL</option>
                <option value="maria">MariaDB</option>
                <option value="mongo">MongoDB</option>
            </select>
            <label>Port:</label>
            <input type="text" name="b_port" [(ngModel)]="base.db_port" required>
            <label>Host:</label>
            <input type="text" name="b_host" [(ngModel)]="base.host" required>
            <label>login:</label>
            <input type="text" name="b_log" [(ngModel)]="base.login" required>
            <label>Password:</label>
            <input type="text" name="b_pswd" [(ngModel)]="base.passwrd">
            
        </content>
        <p class="error" *ngIf="error">{{error}}</p>
        <div class="commands" >
            <button [disabled]="!baseForm.form.valid"  class="invert" type="submit">Create Base</button> 
            <button type="button" (click)="cancel()" class="invert">Cancel</button>      
        </div>
    </form>