<form #dlgForm="ngForm" (ngSubmit)="process_dialog_form()">
    <content>
        <label>Table name:</label>
        <input type="text" #tname="ngModel" name="table_name" [(ngModel)]="table_cpy.name" required pattern="^[a-zA-Z_]+[a-zA-Z0-9_]+$">
        <div [hidden]="tname.valid || tname.pristine"
             class="error">
                Name is required, and must match: ^[a-zA-Z_]+[a-zA-Z0-9_]+$
        </div>

        <label>Comment:</label>
        <textarea type="text" name="table_comment" [(ngModel)]="table_cpy.comment" ></textarea>

        

        <!-- les contraintes de la table -->
        <div class="group">Table Constraints:
        <div *ngFor="let index of table_cpy.constraints">
            <div  class="index-infos">
                <span  class="name">{{index.key}}</span>(<span >{{index.values}}</span>)
                <div>
                    <a class="round" (click)="updateConstraint(index)"><i class="material-icons rippler">mode_edit</i></a>
                    <a class="round" (click)="deleteConstraint(index)"><i class="material-icons rippler">delete_forever</i></a>
                </div>  
            </div>
        </div>
        
        <button class="invert" type="button" (click)="newConstraint()">Add new Table Constraint</button>
        </div>
    </content>
    <p class="error" *ngIf="error">{{error}}</p>
    <div class="commands" >
        <button [disabled]="!dlgForm.form.valid"  class="invert" type="submit">OK</button> 
             
    </div>
</form>