<form #dlgForm="ngForm" (ngSubmit)="process_dialog_form()">
    <content>
        <label>Table name:</label>
        <input type="text" name="table_name" [(ngModel)]="table.name" required>
        <label>Comment:</label>
        <textarea type="text" name="table_comment" [(ngModel)]="table.comment" ></textarea>

        <!-- les cles primaires depend si en a deja une ou pas... -->
        <label class="group">Primary Key:
        <span>name</span><span>value</span>
        <button class="invert" type="button" (click)="newPK()">Add a Primary Key</button>
         </label >


        <!-- les indexs sur la table -->
        <label class="group">Indexes:
        <div *ngFor="let index of table.indexes">
            <div class="index-infos">
                <span class="name">{{index.name}}</span>(<span *ngFor="let i of index.fields" class="values">{{i.name}},</span>)                
            </div>
        </div>
        
        <button class="invert" type="button" (click)="newIndex()">Add new Index</button>
        </label>



        <!-- les contraintes de la table -->
        <label class="group">Table Constraints:
        <div *ngFor="let index of indexes">
            <div>
                <span>{{index.name}}</span>(<span *ngFor="let i of index.fields">{{i.name}},</span>)
                
            </div>
        </div>
        
        <button class="invert" type="button" (click)="newConstraint()">Add new Constraint</button>
        </label>
    </content>
    <p class="error" *ngIf="error">{{error}}</p>
    <div class="commands" >
        <button [disabled]="!dlgForm.form.valid"  class="invert" type="submit">OK</button> 
             
    </div>
</form>