.field{
    position: relative;
    border: none;
    border-bottom: 1px dashed #3E3E3E;
    cursor: move;

    &.notDraggable{
        cursor: default;
    }
    p{
        margin: 1px;
        text-align: right;
    }

    .composite{
        margin-left: 10px;
        border-left: 1px solid #BEBEBE;

        div{
            padding-left: 5px;
        }
    }
}
:host:last-child .field{
    border:none!important;
}
.floater{
    display: float;
    float:right;
    position:relative;
    right: 0;
    padding-left: 20px;
}

$fab-color: transparent;
$fab-size: 24px;
$fab-margin: 1 / 4 * 3 * $fab-size;
$fab-child-size: 1 / 3 * 2 * $fab-size;
$fab-child-margin: ($fab-size - $fab-child-size) / 2 + $fab-margin;

.fab{
	background: $fab-color;
	width: $fab-size;
	height: $fab-size;
	border-radius: 50%;
	text-align:center;
	z-index: 3;
	position: absolute;
    left: 2px;
	// position: fixed;
	// bottom: $fab-margin;
	// right: $fab-margin;
	// font-size: 2.6667em;
	display: inline-block;
	cursor: default;
}

.fab span{
	vertical-align:middle;
}

.fab.child{
	// right: $fab-child-margin;
	// width: $fab-child-size;
	// height: $fab-child-size;
    background: white;
    box-shadow:0px 0px 3px rgba(0,0,0,0.5),3px 3px 3px rgba(0,0,0,0.25);
	padding: 2px;
	opacity: 0;
    //border: 1px solid #3E3E3E;
    
    // left: 0;
    // top: 0px;
	//font-size: 2em;
    transition: left 0.2s ease, opacity 0.2s ease;
    z-index: 0;
}
.first, .second{
    display: block!important;
    opacity:1!important;
    
    z-index:9999;
}
.first{
    left: 30px!important;
}
.second{
    
    left: 66px!important;
}