<div >
    <div #fieldElem class="field" [class.notDraggable]="field.unique !=true && field.primary_key !=true"  [draggable]="field.unique ==true || field.primary_key ==true" (dragstart)="doStartDrag($event)" (dragend)="doStopDrag($event)">                    
        <h3 [id]="field.id"  >
            <a (click)="showItemProperty($event)" >{{field.name}}</a>
            <i class="material-icons" *ngIf="field.primary_key">vpn_key</i>
            <i class="material-icons" *ngIf="field.index" >explore</i>
            <i class="material-icons" *ngIf="field.unique">warning</i>
            <div class=floater>
                <a (click)="updateField()"><i class="material-icons rippler">mode_edit</i></a>
                <a (click)="deleteField()"><i class="material-icons rippler">delete_forever</i></a>
            </div> 
        </h3>
        
        
        <p *ngIf="field.comment">{{field.comment}}</p>    
        <div *ngIf="field.fields">
            <p>Composite</p>
        </div>
    </div>
</div>
