<div #fieldElem class="field"  draggable="true" (dragstart)="doStartDrag($event)" (dragend)="doStopDrag($event)">                    
    <h3 [id]="field.id"  >
        <a (click)="showItemProperty($event)" >{{field.name}}</a>
        <i class="material-icons" *ngIf="field.primary_key">vpn_key</i>
        <i class="material-icons" *ngIf="field.index" >explore</i>
        <i class="material-icons" *ngIf="field.unique">warning</i>
    </h3>
    <p *ngIf="field.comment">{{field.comment}}</p>    
</div>