<div >
    <div #fieldElem class="field" [class.notDraggable]="field.unique !=true && field.primary_key !=true"  [draggable]="field.unique ==true || field.primary_key ==true" (dragstart)="doStartDrag($event)" (dragend)="doStopDrag($event)">                    
        <h3 [id]="field.id"  >
            <a (click)="showItemProperty($event)" >{{field.name}}</a>
            <i class="material-icons" *ngIf="field.primary_key">vpn_key</i>
            <i class="material-icons" *ngIf="field.index" >explore</i>
            <i class="material-icons" *ngIf="field.unique">warning</i>
            <div *ngIf="!field.fields" class="floater">
                <a class="fab child" [class.first]="show_fabs" (click)="updateField()"><i class="material-icons rippler">mode_edit</i></a>
                <a class="fab child" [class.second]="show_fabs" (click)="deleteField()"><i class="material-icons rippler">delete_forever</i></a>
                <a class="fab" (click)="show_fabs=!show_fabs"><i class="material-icons rippler">keyboard_arrow_right</i></a>
            </div> 
            <div *ngIf="field.fields" class="floater">
                <a (click)="updateComposite()"><i class="material-icons rippler">mode_edit</i></a>
                <a (click)="deleteField()"><i class="material-icons rippler">delete_forever</i></a>
            </div> 
        </h3>
        
        
        
        <p *ngIf="field.comment">{{field.comment}}</p>    
        <div class="composite" *ngIf="field.fields">
            <div *ngFor="let f of field.fields">
                {{f.name}}
            </div>
        </div>
    </div>
</div>
