.field{
    position: relative;
    border: none;
    border-bottom: 1px dashed #3E3E3E;
    cursor: move;

    &.notDraggable{
        cursor: default;
    }
    p{
        margin: 1px;
        text-align: right;
    }

    .composite{
        margin-left: 10px;
        border-left: 1px solid #BEBEBE;

        div{
            padding-left: 5px;
        }
    }
}
:host:last-child .field{
    border:none!important;
}
.floater{
    display: float;
    float:right;
    position:relative;
    right: 0;
    padding-left: 20px;
}